*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  max-width: 100%;
  border-radius: 10px;
}

h1{
  font-size: 2rem;
  margin-bottom: 15px;
}

h3{
  font-size: 1.1rem;
  margin-bottom: 10px;
}

p{
  font-size: 1.2rem;

}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b92828;
  color: #fff;
  padding: 1.4rem 0;
  margin-bottom: 3rem;
}

main{
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

main img{
  margin-bottom: 20px;
}

.main_content{
  display: block;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.local_stat{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}


.local_stat i{
  color: #b92828;
}

.local_stat h2{
  font-size: 1.2rem;
  font-weight: 500;
}

.local_stat a{
  color: dimgray;
  font-size: 1.05rem;
}

@media (min-width: 1028px) {
  main{
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
  }
  main img{
    max-width: 300px;
  }
}